@font-face {
    font-family: 'Adieu';
    src: url('fonts/Adieu-Black.eot');
    src: url('fonts/Adieu-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Adieu-Black.woff2') format('woff2'),
        url('fonts/Adieu-Black.woff') format('woff'),
        url('fonts/Adieu-Black.ttf') format('truetype'),
        url('fonts/Adieu-Black.svg#Adieu-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adieu Slanted';
    src: url('fonts/Adieu-RegularSlanted.eot');
    src: url('fonts/Adieu-RegularSlanted.eot?#iefix') format('embedded-opentype'),
        url('fonts/Adieu-RegularSlanted.woff2') format('woff2'),
        url('fonts/Adieu-RegularSlanted.woff') format('woff'),
        url('fonts/Adieu-RegularSlanted.ttf') format('truetype'),
        url('fonts/Adieu-RegularSlanted.svg#Adieu-RegularSlanted') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adieu Light Backslant';
    src: url('fonts/Adieu-LightBackslant.eot');
    src: url('fonts/Adieu-LightBackslant.eot?#iefix') format('embedded-opentype'),
        url('fonts/Adieu-LightBackslant.woff2') format('woff2'),
        url('fonts/Adieu-LightBackslant.woff') format('woff'),
        url('fonts/Adieu-LightBackslant.ttf') format('truetype'),
        url('fonts/Adieu-LightBackslant.svg#Adieu-LightBackslant') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adieu';
    src: url('fonts/Adieu-Regular.eot');
    src: url('fonts/Adieu-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Adieu-Regular.woff2') format('woff2'),
        url('fonts/Adieu-Regular.woff') format('woff'),
        url('fonts/Adieu-Regular.ttf') format('truetype'),
        url('fonts/Adieu-Regular.svg#Adieu-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adieu Black Backslant';
    src: url('fonts/Adieu-BlackBackslant.eot');
    src: url('fonts/Adieu-BlackBackslant.eot?#iefix') format('embedded-opentype'),
        url('fonts/Adieu-BlackBackslant.woff2') format('woff2'),
        url('fonts/Adieu-BlackBackslant.woff') format('woff'),
        url('fonts/Adieu-BlackBackslant.ttf') format('truetype'),
        url('fonts/Adieu-BlackBackslant.svg#Adieu-BlackBackslant') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adieu';
    src: url('fonts/Adieu-Light.eot');
    src: url('fonts/Adieu-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Adieu-Light.woff2') format('woff2'),
        url('fonts/Adieu-Light.woff') format('woff'),
        url('fonts/Adieu-Light.ttf') format('truetype'),
        url('fonts/Adieu-Light.svg#Adieu-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adieu Backslant';
    src: url('fonts/Adieu-RegularBackslant.eot');
    src: url('fonts/Adieu-RegularBackslant.eot?#iefix') format('embedded-opentype'),
        url('fonts/Adieu-RegularBackslant.woff2') format('woff2'),
        url('fonts/Adieu-RegularBackslant.woff') format('woff'),
        url('fonts/Adieu-RegularBackslant.ttf') format('truetype'),
        url('fonts/Adieu-RegularBackslant.svg#Adieu-RegularBackslant') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adieu Black Slanted';
    src: url('fonts/Adieu-BlackSlanted.eot');
    src: url('fonts/Adieu-BlackSlanted.eot?#iefix') format('embedded-opentype'),
        url('fonts/Adieu-BlackSlanted.woff2') format('woff2'),
        url('fonts/Adieu-BlackSlanted.woff') format('woff'),
        url('fonts/Adieu-BlackSlanted.ttf') format('truetype'),
        url('fonts/Adieu-BlackSlanted.svg#Adieu-BlackSlanted') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adieu Light Slanted';
    src: url('fonts/Adieu-LightSlanted.eot');
    src: url('fonts/Adieu-LightSlanted.eot?#iefix') format('embedded-opentype'),
        url('fonts/Adieu-LightSlanted.woff2') format('woff2'),
        url('fonts/Adieu-LightSlanted.woff') format('woff'),
        url('fonts/Adieu-LightSlanted.ttf') format('truetype'),
        url('fonts/Adieu-LightSlanted.svg#Adieu-LightSlanted') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adieu';
    src: url('fonts/Adieu-BoldSlanted.eot');
    src: url('fonts/Adieu-BoldSlanted.eot?#iefix') format('embedded-opentype'),
        url('fonts/Adieu-BoldSlanted.woff2') format('woff2'),
        url('fonts/Adieu-BoldSlanted.woff') format('woff'),
        url('fonts/Adieu-BoldSlanted.ttf') format('truetype'),
        url('fonts/Adieu-BoldSlanted.svg#Adieu-BoldSlanted') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body{
	background-color: #042827;
	color: #fff;
	font-family: 'Adieu';
	font-weight: 300;
	font-style: normal;
	font-size: clamp(0.625rem, -0.875rem + 8vw, 1.25rem);
}
.font-family-regular{
    font-family: 'Adieu';
    font-weight: normal;
    font-style: normal;
}
.color-bright{
	color: #2eed96;
}
.color-dark{
	color: #042827;
}
.bg-dark{
    background: #042827 !important;
}
.color-golden{
    color: #F9CE47;
}
.color-blog{
    color: #0E1853;
}
.font-size-hero{
	font-size: clamp(1.68rem, -0.875rem + 8vw, 7rem);
}
.font-size-large{
	font-size: clamp(1.137rem, -0.875rem + 8vw, 2.1rem);
}
.font-size-medium{
	font-size: clamp(1.26rem, -0.875rem + 8vw, 4.375rem);	
}
.font-size-regular{
	font-size: clamp(1.05rem, -0.875rem + 8vw, 2.0125rem);	
}
.font-size-small{
    font-size: clamp(0.7rem, -0.875rem + 8vw, 1.3125rem);
}
.font-size-teamtitle{
    font-size: clamp(0.7rem, -0.875rem + 8vw, 1.5625rem);
}
.font-size-docboxtitle{
    font-size: clamp(2rem, -0.875rem + 8vw, 3rem);
}
.font-regular{
	font-family: 'Adieu';
	font-style: normal;
	font-weight: normal;
}
.font-300{
	font-weight: 300 !important;
}
.goldenrow{
	border-top: 1px solid #7e7b37;
	border-bottom: 1px solid #7e7b37;
}
.patternborder{
	border-right: 1px solid #7e7b37;
}
.pattern-list{
	margin: 0;
	padding: 0;
	display: block;
}
.pattern-list li{
	list-style: none;
    position: relative;
    width: calc(100% / 3);
    display: block;
    float: left;
}
.pattern-list li .base-layer{
	opacity: 0.1;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scale(0.6);
    transform-origin: left;
}
.pattern-list li .first-layer{
	opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: left;
    transform: scale(0.7);
}
.pattern-list li .second-layer{
	opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(0.8);
    transform-origin: left;
}
.pattern-list li .third-layer{
	opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: left;
    transform: scale(0.9);
}
.pattern-list li .top-layer{
	position: relative;
    left: 0px;
    bottom: 0px;
    transform-origin: left;
    transform: scale(1);
}
header.inner {
    min-height: 25vh;
    background-image: url(images/svgs/inner-header-pattern.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom left;
    display: flex;
    align-items: flex-end;
}
header{
	position: relative;
}
header:before{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 1250px;
	height: 525px;
	content: "";
}
.headbg{
    background-image: url(images/svgs/hero-pattern-bg.svg);
	background-repeat: no-repeat;
	background-size: 100%;
    background-position: bottom right;
}
.combined{
	background-image: url(images/svgs/full-pattern-bg.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.who-we-are .container-fluid{
	max-width: 80%;
}

.our-products{
	display: flex;
	align-items: flex-end;
	border-bottom: 1px solid #2eed96;
}
.titlebg,
.titlebg *{
	position: relative;
}
.titlebg:before{
	background: #fff;
    content: "";
    position: absolute;
    left: -30px;
    bottom: 0%;
    width: 100%;
    height: 120%;
    clip-path: polygon(0 10%,25% 0%,60% 20%,80% 10%,100% 5%,100% 100%,0% 100%);
}
.inner .titlebg:before{
    left: 0;
}
section{
	padding: 40px 0;
}
.golden-sep{
	max-height: 100px;
}
.pre-team{
	background-image: url(images/svgs/who-we-are-pattern-bg-bottom.svg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.pre-team-title{
	border-bottom: 1px solid #2eed96;
}
.teambox-card{
    border: 1px solid #042827;
}
.show .teambox-card{
    border: none;
}
.team-accordion{
    position: relative;
}
.team-accordion:not(.last):after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    left: 0px;
    background: #2eed96;
}
.teambox-thumb{
    transition: all .3s ease;
    overflow: hidden;
}
.show .teambox-thumb{
    max-height: 600px;
}
.hide .teambox-thumb{
    max-height: 0;
}
.handle.up img{
    transform: rotate(180deg);
}
.btn-primary{
    background-color: transparent !important;
    border-radius: 30px !important;
    padding: 10px 40px !important;
    text-transform: uppercase !important;
    border-color: #F9CE47 !important;
    color: #F9CE47 !important;
}
.btn-primary:hover{
    background-color: #F9CE47 !important;
    color: #042827 !important; 
    border-color: #042827 !important;
}
.lets-connect:not(.no-pattern-bg){
    background: url(images/svgs/lets-connect-bg.svg) #fff;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.lets-connect.no-pattern-bg{
    background: #fff;
}
.lets-connect .titlebg:before{
    background-color: #042827;
}
.text-golden{
    color: #F9CE47 !important;
}
.contact-bar{
    border-top: 1px solid #F9CE47 !important;
}
.newsletter-field{
    border: 1.5px solid #F9CE47;
    position: relative;
}
.newsletter-field input[type=email]{
    border-radius: 0px !important;
    background-color: transparent !important;
    border: none !important;
    height: auto !important;
    padding: 15px !important;
    color: #F9CE47 !important;
}
.newsletter-field button{
    position: absolute;
    top: 0;
    right: 0;
    height: 101%;
    background-color: #F9CE47 !important;
    color: #042827 !important;
    font-weight: 300 !important;
    border: none !important;
    padding: 10px 25px !important;
}
.newsletter-field button:hover{
    background-color: #2eed96 !important;
    color: #042827 !important;
}
.community-list li{
    width: calc(100% / 5);
    float: left;
}
.community-list li a svg{
    fill: #f9ce47;;
}
.community-list li a:hover svg{
    fill: #2eed96;;
}
.contact-bar.last{
    border-bottom: 1px solid #F9CE47 !important;
}
.nav-link {
    font-size: 1rem;
    font-weight: 300;
    color: #F9CE47 !important;
    border-bottom: 1px solid #F9CE47 !important;
    padding: 10px 15px !important;
}
.nav-link:last-child{
    border-bottom: none !important; 
}
.nav-item {
    margin-right: 12px;
}
.nav-item:last-child {
    margin-right: 0px;
}
.nav-link.active{
    background-color: #F9CE47 !important;
    border-color: #F9CE47 !important;
    color: #042827 !important;
}
.interestlink,
.interestlink:hover{
    text-decoration: none;    
}
a.text-golden:hover{
    color: #2eed96 !important;
    text-decoration: none;    
}
.interestlink:hover .text-golden
{
	color: #2eed96 !important;
}
#mainNav.solid{
    background-color: rgba(4, 40, 39, .65) !important;
    backdrop-filter: blur(10px);
}
#mainNav.solid::before{
    width: 100%;
}
#mainNav::before{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #2eed96;
    width: 0;
    height: 1px;
    transition: width 1.5s ease;
    content: "";
}
.round-number {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid #2eed96;
    margin: 0 auto;
    color: #2EED96;
    font-size: 1.875rem;
}
.flip-horizontal-on-phone{
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}
.teambox-thumb img{
    transform: scale(0.95);
    transition: transform 0.3s ease-in;
    cursor: pointer;
}
.teambox-thumb:hover img
{
    transform: scale(1);
}
.modal{
    backdrop-filter: blur(6px);
}
.modal-content{
    background-color: #042827;
}
.modal-content h4{
    font-family: 'Adieu';
    font-weight: 300;
    font-style: normal;
    color: #2eed96;
}
.modal-content h2{
    font-size: clamp(1.2rem, -0.875rem + 8vw, 3.125rem);
    font-family: 'Adieu';
    font-style: normal;
    font-weight: normal;
}
.modal-content h5{
    font-family: 'Adieu';
    font-style: normal;
    font-weight: 300;
    font-size: clamp(0.875rem, -0.875rem + 8vw,  1.5625rem);
}
.modal-content p,
.modal-content li{
    font-family: 'Adieu';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}
.team-member-name a{
    color: #042827;
    text-decoration: none;
}
.team-member-name a:hover{
    color: #2EED96;
    text-decoration: none;
}
.linkedin:hover svg {
    fill: #2eed96;
}
.linkedin svg{
    fill: #F9CE47;
}
.modal-full {
    max-width: calc(100% - 10px);
}
.btnclose{
    outline: none !important;
}
.doclink,
.doclink:hover{
    text-decoration: none !important;
}
.doclink:hover .color-golden{
    color: #2eed96 !important;
}
.docbox{
    border: 1px solid #042827;
}
.doclink:hover .docbox{
    background: #fff !important;
}
.doclink:hover .docbox h2{
    color: #042827 !important;
}
.docbox .subtracted{
    font-size: clamp(1.275rem, -0.875rem + 8vw, 1.6rem);
    color: #042827 !important;
    -webkit-text-fill-color: #042827 !important; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px !important;
    -webkit-text-stroke-color: #f9ce47 !important;
}
.doclink:hover .docbox .subtracted{
    -webkit-text-fill-color: #fff !important; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px !important;
    -webkit-text-stroke-color: #042827 !important;
}
@media screen and (min-width: 768px)
{
    .modal-full {
        max-width: calc(100% - 60px);
    }
    .flip-horizontal-on-phone{
        transform: none;
        -webkit-transform: none;
    }
	.tilted{
		position: relative;
		transform: rotate(-180deg);
        writing-mode: tb-rl;
	}
	.container-fluid{
		padding: 0px 40px;
	}
	.product-row .container-fluid{
		max-width: 85%;
	}
	.goldenrow{
		margin-left: -40px;
		margin-right: -40px;
	}
	.headbg:before{
		background-size: 1250.48px 525.15px;
	}
	section{
		padding: 100px 0;
	}
	.golden-sep{
		max-height: 285px;
	}
	.pre-team .mx-70 {
	    max-width: 70%;
	}
    .team-accordion:after {
        width: calc(100% + 80px);
        left: -40px;
    }
    .cntbar-brd{
        border-right: 1px solid #F9CE47 !important;
    }
    .plat-thumb {
        max-width: 360px;
        max-height: 360px;
    }
    .rightshape{
        transform: translate(8px, 0px);
    }
    header.inner {
        min-height: 45vh;
    }
}
@media screen and (min-width: 992px)
{
    .team-left-brd{
        border-right: 1px solid #2eed96;
    }
    .nav-link{
        border: 1px solid #F9CE47 !important;
        border-radius: 30px !important;
    }
    .nav-link:last-child{
        border-bottom: 1px solid #F9CE47 !important;
    }
    .headbg{
        background-size: 65%;
    }
    .pull-arrow-center{
        position: absolute;
        top: -330px;
    }
    
}
@media screen and (min-width: 1025px)
{
    .font-size-docboxtitle{
        font-size: clamp(2rem, -0.875rem + 8vw, 4.5rem);
    }
    .docbox .subtracted{
        font-size: clamp(1.275rem, -0.875rem + 8vw, 2.4rem);
    }
}
@media screen and (min-width: 1200px)
{
    .client-logos-cnt .container-fluid{
        max-width: 80%;
    }
}
@media screen and (min-width: 1367)
{
    .docbox .subtracted{
        font-size: clamp(1.275rem, -0.875rem + 8vw, 3.125rem);
    }
    .font-size-docboxtitle{
        font-size: clamp(2rem, -0.875rem + 8vw, 5rem);
    }
}
.movingletters {
position: relative;
display: inline-block;
}

.movingletters .letter {
display: inline-block;
line-height: 1em;
}


#who-we-are {
    background-image: url(images/svgs/who-we-are-pattern-bg-bottom.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
}

.shape-1{
    fill:none;
    stroke:#2eed96;
    stroke-miterlimit:10;
    stroke-width:3px;
    stroke-dasharray:680;
    stroke-dashoffset: 2040;
}
.shape-1.inview{
    animation: movedownshape1 1.5s linear forwards;
}

.shape-2 {
    fill: none;
    stroke: #2eed96;
    stroke-miterlimit: 10;
    stroke-width: 3px;
    stroke-dasharray: 1019;
    stroke-dashoffset: 3057;
}
.shape-2.inview
{
    animation: movedownshape2 1.5s linear forwards;
}

@keyframes movedownshape1 {
    to{
        stroke-dashoffset: 1360;
    }
}

@keyframes movedownshape2 {
    to{
        stroke-dashoffset: 2038;
    }
}



/********* carousel fade **********/
.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
   }
   
   .carousel-fade  .carousel-item.active,
   .carousel-fade  .carousel-item-next.carousel-item-left,
   .carousel-fade  .carousel-item-prev.carousel-item-right {
     opacity: 1;
   }
   
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-right {
    opacity: 0;
   }
   
   .carousel-fade  .carousel-item-next,
   .carousel-fade .carousel-item-prev,
   .carousel-fade .carousel-item.active,
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
   }