@font-face {
    font-family: 'Adieu';
    src: url('Adieu-Black.eot');
    src: url('Adieu-Black.eot?#iefix') format('embedded-opentype'),
        url('Adieu-Black.woff2') format('woff2'),
        url('Adieu-Black.woff') format('woff'),
        url('Adieu-Black.ttf') format('truetype'),
        url('Adieu-Black.svg#Adieu-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adieu Slanted';
    src: url('Adieu-RegularSlanted.eot');
    src: url('Adieu-RegularSlanted.eot?#iefix') format('embedded-opentype'),
        url('Adieu-RegularSlanted.woff2') format('woff2'),
        url('Adieu-RegularSlanted.woff') format('woff'),
        url('Adieu-RegularSlanted.ttf') format('truetype'),
        url('Adieu-RegularSlanted.svg#Adieu-RegularSlanted') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adieu Light Backslant';
    src: url('Adieu-LightBackslant.eot');
    src: url('Adieu-LightBackslant.eot?#iefix') format('embedded-opentype'),
        url('Adieu-LightBackslant.woff2') format('woff2'),
        url('Adieu-LightBackslant.woff') format('woff'),
        url('Adieu-LightBackslant.ttf') format('truetype'),
        url('Adieu-LightBackslant.svg#Adieu-LightBackslant') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adieu';
    src: url('Adieu-Regular.eot');
    src: url('Adieu-Regular.eot?#iefix') format('embedded-opentype'),
        url('Adieu-Regular.woff2') format('woff2'),
        url('Adieu-Regular.woff') format('woff'),
        url('Adieu-Regular.ttf') format('truetype'),
        url('Adieu-Regular.svg#Adieu-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adieu Black Backslant';
    src: url('Adieu-BlackBackslant.eot');
    src: url('Adieu-BlackBackslant.eot?#iefix') format('embedded-opentype'),
        url('Adieu-BlackBackslant.woff2') format('woff2'),
        url('Adieu-BlackBackslant.woff') format('woff'),
        url('Adieu-BlackBackslant.ttf') format('truetype'),
        url('Adieu-BlackBackslant.svg#Adieu-BlackBackslant') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adieu';
    src: url('Adieu-Light.eot');
    src: url('Adieu-Light.eot?#iefix') format('embedded-opentype'),
        url('Adieu-Light.woff2') format('woff2'),
        url('Adieu-Light.woff') format('woff'),
        url('Adieu-Light.ttf') format('truetype'),
        url('Adieu-Light.svg#Adieu-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adieu Backslant';
    src: url('Adieu-RegularBackslant.eot');
    src: url('Adieu-RegularBackslant.eot?#iefix') format('embedded-opentype'),
        url('Adieu-RegularBackslant.woff2') format('woff2'),
        url('Adieu-RegularBackslant.woff') format('woff'),
        url('Adieu-RegularBackslant.ttf') format('truetype'),
        url('Adieu-RegularBackslant.svg#Adieu-RegularBackslant') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adieu Black Slanted';
    src: url('Adieu-BlackSlanted.eot');
    src: url('Adieu-BlackSlanted.eot?#iefix') format('embedded-opentype'),
        url('Adieu-BlackSlanted.woff2') format('woff2'),
        url('Adieu-BlackSlanted.woff') format('woff'),
        url('Adieu-BlackSlanted.ttf') format('truetype'),
        url('Adieu-BlackSlanted.svg#Adieu-BlackSlanted') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adieu Light Slanted';
    src: url('Adieu-LightSlanted.eot');
    src: url('Adieu-LightSlanted.eot?#iefix') format('embedded-opentype'),
        url('Adieu-LightSlanted.woff2') format('woff2'),
        url('Adieu-LightSlanted.woff') format('woff'),
        url('Adieu-LightSlanted.ttf') format('truetype'),
        url('Adieu-LightSlanted.svg#Adieu-LightSlanted') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adieu';
    src: url('Adieu-BoldSlanted.eot');
    src: url('Adieu-BoldSlanted.eot?#iefix') format('embedded-opentype'),
        url('Adieu-BoldSlanted.woff2') format('woff2'),
        url('Adieu-BoldSlanted.woff') format('woff'),
        url('Adieu-BoldSlanted.ttf') format('truetype'),
        url('Adieu-BoldSlanted.svg#Adieu-BoldSlanted') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

